{% extends 'news/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Foydalanuvchi ma'lumotlarini o'zgartirish{% endblock title %}

{% block content %}
<section id="contentSection">
    <div style="margin: 20px 10%;">
        <h1>Foydalanuvchi ma'lumotlarini o'zgartirish</h1>
        <p>Siz o'zingiz haqingizdagi ma'lumotlarni quyidagi forma orqali o'zgartirishingiz mumkin:</p>

         <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ user_form | crispy }}
            {{ profile_form | crispy }}
            <button type="submit" class="btn btn-info" style="border-radius:5px; width:100%;">O'zgarishlarni saqlash</button>
         </form>
    </div>
</section>

{% endblock content %}