{% extends 'news/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Parolni tiklash
{% endblock title %}

{% block content %}
<section id="contentSection">
    <div style="margin: 10% 10%;">
        <h1>Parolni tiklash</h1>
        <p>Parolingizni tiklash uchun e-mail adresingizni kiriting</p>
        <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <br>    
            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Tasdiqlash</button>
        </form>
    </div>
</section>
{% endblock %}