{% extends 'news/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Foydalanuvchi parolini o'zgartirish{% endblock title %}

{% block content %}
<section id="contentSection">
    <div style="margin: 10% 10%;">
    <h1>Parolni o'zgartirish</h1>
<p>Parolingizni o'zgartirish uchun, quyidagi formani to'ldiring</p>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <p><button type="submit" class="btn btn-primary btn-lg btn-block login-button">Parolni almashtirish</button> </p>
    </form>
</div>
</section> 
{% endblock content %}