{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}
{% block title %} {{ news.title }} {% endblock title %}
{% block content %}
<section id="contentSection">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="left_content">
                <div class="single_page">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'home_page' %}">Home</a></li>
                        <li><a href="#">{{ news.category.name}}</a></li>
                    </ol>
                    <h1>{{ news.title }}</h1>
                    <div class="post_commentbox"> <a href="#"><i class="fa fa-user"></i>Admin</a> <span><i class="fa fa-calendar"></i>{{ news.publish_time }}</span><i class="fa fa-eye" aria-hidden="true"></i>
                        {% get_hit_count for news %} <a href="#"><i class="fa fa-tags"></i>{{ news.category.name}}</a> </div>
                    <div class="single_page_content"> 
                        <p>{{ news.body | safe }}</p>
                        {% if request.user.is_authenticated and request.user.is_superuser%}
                        <div class="card-footer text-center">
                            <a href="{% url 'news_update' news.slug %}">Tahrirlash</a> |
                            <a href="{% url 'news_delete' news.slug %}">O'chirish</a> 
                        </div>
                        {% endif %} <br>
                        {% if comment_count %}
                                <h3>Bu yangilikka {{ comment_count }} ta izoh qoldirilgan</h3>
                        {% else %}
                            <h3>Bu yangilikka izoh qoldirilmagan</h3>
                        {% endif %}
                        {% for comment in comments %}
                        <div class="comments" style="padding: 10px">
                            <p class="font-weight-bold">
                                {{ comment.user }}
                                <span class="text-muted font-weight-normal">
                                    {{ comment.created_time }}
                                </span>
                            </p>
                            {{ comment.body | safe | linebreaks }}
                        </div>
                        {% endfor %}
                        {% if user.is_authenticated %}
                        <div class="col-md-8 card mb-4 mt-3">
                            <div class="card-body">
                                <h3>Izoh qoldirish</h3>
                                <form method="POST" style="margin-top: 1.3em">{% csrf_token %}
                                    {{ comment_form.as_p }}
                                    <button type="submit" class="btn btn-primary btn-lg">
                                        Yuborish
                                    </button>
                                </form>
                            </div>
                        </div>
                        {% else %}
                        <div class="card-body">
                            <p class="text-danger">Faqatgina ro'yhatdan o'tgan foydalanuvchilar izoh qoldirishi mumkin</p>
                            <p>Izoh qoldirish uchun
                                <a href="{% url 'user_register' %}">ro'yhatdan o'ting </a>
                                yoki <a href="{% url 'login' %}">Saytga kiring</a>
                            </p>
                        </div>
                        {% endif %}
                        
                    </div>
                    <div class="social_link">
                        <ul class="sociallink_nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                    <div class="related_post">
                        <h2>Tegishli Xabar <i class="fa fa-thumbs-o-up"></i></h2>
                        <ul class="spost_nav wow fadeInDown animated">
                            {% for sport in sport_xabarlari %}
                            {% if forloop.counter > 1 %}
                            <li>
                                <figure class="bsbig_fig"> <a href="{{sport.get_absolute_url}}" class="featured_img"> <img alt="" src="{{ sport.image.url }}"> <span class="overlay"></span> </a>
                                    <figcaption> <a href="{{sport.get_absolute_url}}">{{ sport.title }}</a> </figcaption>
                                    <p>{{ sport.body | safe | truncatewords:10 }}</p>
                                </figure>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <aside class="right_content">
                <div class="single_sidebar">
                    <h2><span>So'ngi yangiliklar</span></h2>
                    <ul class="spost_nav">
                        {% for news in news_list %}
                        <li>
                            <div class="media wow fadeInDown"> <a href="{{ news.get_absolute_url }}" class="media-left"> <img src="{{ news.image.url }}" alt="" width="20px" height="20px"> </a>
                                <div class="media-body"> <a href="{{ news.get_absolute_url }}" class="catg_title">{{ news.title }}</a>
                                    <p>Ko'rilganlar soni:<i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for news %}</p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="single_sidebar">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
                        <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
                        <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="category">
                            <ul>
                                {% for category in categories %}
                                <li class="cat-item"><a href="#">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="video">
                            <div class="vide_area">
                                <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="comments">
                            <ul class="spost_nav">
                                <li>
                                    <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="../images/post_img1.jpg"> </a>
                                        <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="../images/post_img2.jpg"> </a>
                                        <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="../images/post_img1.jpg"> </a>
                                        <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="../images/post_img2.jpg"> </a>
                                        <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single_sidebar wow fadeInDown">
                    <h2><span>Sponsor</span></h2>
                    <a class="sideAdd" href="#"><img src="{% static 'images/add_img.jpg' %}" alt=""></a>
                </div>
                <div class="single_sidebar wow fadeInDown">
                    <h2><span>Barcha kategoriyalar</span></h2>
                    <select class="catgArchive">
                        <option>Kategoriyani tanlang</option>
                        {% for kategory in categories %}
                        <option>{{ kategory.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="single_sidebar wow fadeInDown">
                    <h2><span>Links</span></h2>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Rss Feed</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Life &amp; Style</a></li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</section>
{% endblock %}